In [35]:
'''
#read data from google drive
import pandas as pd

url_route='https://drive.google.com/file/d/1Zpo2zNZ3V1W1X4Z-icmugbCMZwHIcvCQ/view?usp=sharing' #route data
file_id_route=url_route.split('/')[-2]
dwn_url_route='https://drive.google.com/uc?id=' + file_id_route

url_rtd='https://drive.google.com/file/d/1rsJl1dTXFxP9NdzYWQDg-Mi5uaPq7Sdt/view?usp=sharing' # rtd data
file_id_rtd=url_rtd.split('/')[-2]
dwn_url_rtd='https://drive.google.com/uc?id=' + file_id_rtd

url_routebusstop='https://drive.google.com/file/d/1oUXNyNECeB5mewBGC-gOnBObddnUxJtH/view?usp=sharing' # route bus stop data
file_id_routebusstop=url_routebusstop.split('/')[-2]
dwn_url_routebusstop='https://drive.google.com/uc?id=' + file_id_routebusstop

url_engbusrepair='https://drive.google.com/file/d/1j1TaaCFTjo6QPAjTLA0oO0EvP5PZKuT3/view?usp=sharing' # eng bus repair data
file_id_engbusrepair=url_engbusrepair.split('/')[-2]
dwn_url_engbusrepair='https://drive.google.com/uc?id=' + file_id_engbusrepair

url_depot='https://drive.google.com/file/d/12t8aUsXqHgv7d4N448naa9ELAUz543pu/view?usp=sharing' # depot data
file_id_depot=url_depot.split('/')[-2]
dwn_url_depot='https://drive.google.com/uc?id=' + file_id_depot

url_captschedule='https://drive.google.com/file/d/1bc1QUGgn-pNGh2EEgqNPktekh1sVnVn0/view?usp=sharing' # captain schedule data ##
file_id_captschedule=url_captschedule.split('/')[-2]
dwn_url_captschedule='https://drive.google.com/uc?id=' + file_id_captschedule


url_busstoplist='https://drive.google.com/file/d/1Ht9MtdExwMTSl_nlvT6xePbrVcrelYVa/view?usp=sharing' # bus stop list data
file_id_busstoplist=url_busstoplist.split('/')[-2]
dwn_url_busstoplist='https://drive.google.com/uc?id=' + file_id_busstoplist

url_accident='https://drive.google.com/file/d/1Z9Dw_Qcb3JWnowbCmsZn9EDDBTJwmrJN/view?usp=sharing' # accident data
file_id_accident=url_accident.split('/')[-2]
dwn_url_accident='https://drive.google.com/uc?id=' + file_id_accident

url_tripdeparture='https://drive.google.com/file/d/1ax4m65Ev0awt1nkE_aLYurhO5Ydp-cHt/view?usp=sharing' # trip departure data ##
file_id_tripdeparture=url_tripdeparture.split('/')[-2]
dwn_url_tripdeparture='https://drive.google.com/uc?id=' + file_id_tripdeparture

'''

"\n#read data from google drive\nimport pandas as pd\n\nurl_route='https://drive.google.com/file/d/1Zpo2zNZ3V1W1X4Z-icmugbCMZwHIcvCQ/view?usp=sharing' #route data\nfile_id_route=url_route.split('/')[-2]\ndwn_url_route='https://drive.google.com/uc?id=' + file_id_route\n\nurl_rtd='https://drive.google.com/file/d/1rsJl1dTXFxP9NdzYWQDg-Mi5uaPq7Sdt/view?usp=sharing' # rtd data\nfile_id_rtd=url_rtd.split('/')[-2]\ndwn_url_rtd='https://drive.google.com/uc?id=' + file_id_rtd\n\nurl_routebusstop='https://drive.google.com/file/d/1oUXNyNECeB5mewBGC-gOnBObddnUxJtH/view?usp=sharing' # route bus stop data\nfile_id_routebusstop=url_routebusstop.split('/')[-2]\ndwn_url_routebusstop='https://drive.google.com/uc?id=' + file_id_routebusstop\n\nurl_engbusrepair='https://drive.google.com/file/d/1j1TaaCFTjo6QPAjTLA0oO0EvP5PZKuT3/view?usp=sharing' # eng bus repair data\nfile_id_engbusrepair=url_engbusrepair.split('/')[-2]\ndwn_url_engbusrepair='https://drive.google.com/uc?id=' + file_id_engbusrepair\n\nurl_depot='https://drive.google.com/file/d/12t8aUsXqHgv7d4N448naa9ELAUz543pu/view?usp=sharing' # depot data\nfile_id_depot=url_depot.split('/')[-2]\ndwn_url_depot='https://drive.google.com/uc?id=' + file_id_depot\n\nurl_captschedule='https://drive.google.com/file/d/1bc1QUGgn-pNGh2EEgqNPktekh1sVnVn0/view?usp=sharing' # captain schedule data ##\nfile_id_captschedule=url_captschedule.split('/')[-2]\ndwn_url_captschedule='https://drive.google.com/uc?id=' + file_id_captschedule\n\n\nurl_busstoplist='https://drive.google.com/file/d/1Ht9MtdExwMTSl_nlvT6xePbrVcrelYVa/view?usp=sharing' # bus stop list data\nfile_id_busstoplist=url_busstoplist.split('/')[-2]\ndwn_url_busstoplist='https://drive.google.com/uc?id=' + file_id_busstoplist\n\nurl_accident='https://drive.google.com/file/d/1Z9Dw_Qcb3JWnowbCmsZn9EDDBTJwmrJN/view?usp=sharing' # accident data\nfile_id_accident=url_accident.split('/')[-2]\ndwn_url_accident='https://drive.google.com/uc?id=' + file_id_accident\n\nurl_tripdeparture='https://drive.google.com/file/d/1ax4m65Ev0awt1nkE_aLYurhO5Ydp-cHt/view?usp=sharing' # trip departure data ##\nfile_id_tripdeparture=url_tripdeparture.split('/')[-2]\ndwn_url_tripdeparture='https://drive.google.com/uc?id=' + file_id_tripdeparture\n\n"

### Splitting Data (100MB >) Into Smaller Chunks

In [34]:
#identifying timestamp from the obtained data of daily trip for Rapid's buses 
#pd.read_csv('../data/trip_departure.csv')[['ope_date']].drop_duplicates() # output below indicate data availibility is from 1st Jan 2022 to 30th Jun 2023

In [33]:
#trip_departure=pd.read_csv('../data/trip_departure.csv')
#trip_departure['ope_date']=pd.to_datetime(trip_departure['ope_date'])
#trip_departure

In [31]:
#split trip departure data

months=list(range(1,13,1))
years=list(range(2022,2024,1))

for year in years:
    for month in months:
        filename='../data/trip_departure/trip_departure_'+str(month)+'_'+str(year)+'.csv'
        trip_departure[(trip_departure['ope_date'].dt.month==month)&(trip_departure['ope_date'].dt.year==year)].to_csv(filename,index=False)

In [30]:
#pd.read_csv('../data/captain_schedule.csv')[['cs_date']].drop_duplicates()

In [31]:
#identifying timestamp from the obtained data of captain schedule for Rapid's buses 
#captain_schedule=pd.read_csv('../data/captain_schedule/captain_schedule.csv')# output below indicate data availibility is from 1st Jan 2022 to 30th Jun 2023 
#captain_schedule['cs_date']=pd.to_datetime(captain_schedule['cs_date'])
#captain_schedule

In [32]:
#split captain schedule data

#months=list(range(1,13,1))
#years=list(range(2022,2024,1))

#for year in years:
#    for month in months:
#        filename='../data/captain_schedule_'+str(month)+'_'+str(year)+'.csv'
#        captain_schedule[(captain_schedule['cs_date'].dt.month==month)&(captain_schedule['cs_date'].dt.year==year)].to_csv(filename,index=False)

### Trip Departure Data Exploration (Sample for Jan 2022)

In [38]:
import pandas as pd
import numpy as np

In [40]:
trip_departure_1_2022=pd.read_csv('../data/trip_departure/trip_departure_1_2022.csv')
trip_departure_1_2022.head(10)

,td_id,ope_date,depot_id,line_id,captain_id,bus_no,code_duty,dt_plan,dt_gps,lat_lng,point_a,point_b,speed,sequence,pair,dir,direction,category,is_completed,td_created
0,34416614,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 06:15:00,2022-01-01 06:15:36,"3.158640,101.713100",PANDAN INDAH,LEBUH AMPANG,31.0,2.201011e+11,1,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10
1,34416615,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 06:50:00,2022-01-01 06:51:51,"3.133800,101.753600",PANDAN INDAH,LEBUH AMPANG,52.0,2.201011e+11,1,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10
2,34416616,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 07:27:00,2022-01-01 07:28:53,"3.134010,101.753800",PANDAN INDAH,LEBUH AMPANG,15.0,2.201011e+11,2,depart,DIR1_depart,raw,1.0,2022-01-02 05:00:10
3,34416617,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 08:17:00,2022-01-01 08:19:33,"3.158930,101.712000",PANDAN INDAH,LEBUH AMPANG,15.0,2.201011e+11,2,arrive,DIR2_arrive,raw,1.0,2022-01-02 05:00:10
4,34416618,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 08:42:00,2022-01-01 08:39:16,"3.159100,101.712600",PANDAN INDAH,LEBUH AMPANG,NaN,2.201011e+11,3,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10
5,34416619,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 09:22:00,2022-01-01 09:22:25,"3.134030,101.755000",PANDAN INDAH,LEBUH AMPANG,55.0,2.201011e+11,3,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10
6,34416620,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 09:55:00,2022-01-01 09:56:00,"3.134040,101.753600",PANDAN INDAH,LEBUH AMPANG,16.0,2.201011e+11,4,depart,DIR1_depart,raw,1.0,2022-01-02 05:00:10
7,34416621,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 10:40:00,2022-01-01 10:44:43,"3.158480,101.712300",PANDAN INDAH,LEBUH AMPANG,19.0,2.201011e+11,4,arrive,DIR2_arrive,raw,1.0,2022-01-02 05:00:10
8,34416622,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 11:10:00,2022-01-01 11:10:36,"3.158610,101.712900",PANDAN INDAH,LEBUH AMPANG,11.0,2.201011e+11,5,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10
9,34416623,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 11:50:00,2022-01-01 11:53:03,"3.133770,101.753300",PANDAN INDAH,LEBUH AMPANG,41.0,2.201011e+11,5,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10

In [43]:
#data model using sample data
pd.set_option('display.max_columns', None)

trip_departure_1_1_2022_VGL1376=trip_departure_1_2022[(trip_departure_1_2022['bus_no']=='VGL1376')&(trip_departure_1_2022['ope_date']=='2022-01-01')]
trip_departure_1_1_2022_VGL1376['dt_gps']=pd.to_datetime(trip_departure_1_1_2022_VGL1376['dt_gps'])
trip_departure_1_1_2022_VGL1376=trip_departure_1_1_2022_VGL1376.sort_values('dt_gps')
trip_departure_1_1_2022_VGL1376['diff_minutes']=pd.to_datetime(trip_departure_1_1_2022_VGL1376['dt_gps']).diff()/np.timedelta64(1, 'm')

trip_departure_1_1_2022_VGL1376['diff_label']=np.where((trip_departure_1_1_2022_VGL1376['dir']=='arrive')&(trip_departure_1_1_2022_VGL1376['direction']=='DIR2_arrive'),'from point a',np.nan)
trip_departure_1_1_2022_VGL1376['diff_label']=np.where((trip_departure_1_1_2022_VGL1376['dir']=='arrive')&(trip_departure_1_1_2022_VGL1376['direction']=='DIR1_arrive'),'to point a',trip_departure_1_1_2022_VGL1376['diff_label'])
trip_departure_1_1_2022_VGL1376['diff_label']=np.where((trip_departure_1_1_2022_VGL1376['dir']=='depart')&(trip_departure_1_1_2022_VGL1376['direction']=='DIR1_depart'),'idle mode',trip_departure_1_1_2022_VGL1376['diff_label'])
trip_departure_1_1_2022_VGL1376['diff_label']=np.where((trip_departure_1_1_2022_VGL1376['dir']=='depart')&(trip_departure_1_1_2022_VGL1376['direction']=='DIR2_depart'),'idle mode',trip_departure_1_1_2022_VGL1376['diff_label'])

trip_departure_1_1_2022_VGL1376

/var/folders/0n/c05wcq0d0wx4svldfv7fsgv00000gn/T/ipykernel_98719/1876909325.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_departure_1_1_2022_VGL1376['dt_gps']=pd.to_datetime(trip_departure_1_1_2022_VGL1376['dt_gps'])

,td_id,ope_date,depot_id,line_id,captain_id,bus_no,code_duty,dt_plan,dt_gps,lat_lng,point_a,point_b,speed,sequence,pair,dir,direction,category,is_completed,td_created,diff_minutes,diff_label
0,34416614,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 06:15:00,2022-01-01 06:15:36,"3.158640,101.713100",PANDAN INDAH,LEBUH AMPANG,31.0,2.201011e+11,1,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10,NaN,idle mode
1,34416615,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 06:50:00,2022-01-01 06:51:51,"3.133800,101.753600",PANDAN INDAH,LEBUH AMPANG,52.0,2.201011e+11,1,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10,36.250000,to point a
2,34416616,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 07:27:00,2022-01-01 07:28:53,"3.134010,101.753800",PANDAN INDAH,LEBUH AMPANG,15.0,2.201011e+11,2,depart,DIR1_depart,raw,1.0,2022-01-02 05:00:10,37.033333,idle mode
3,34416617,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 08:17:00,2022-01-01 08:19:33,"3.158930,101.712000",PANDAN INDAH,LEBUH AMPANG,15.0,2.201011e+11,2,arrive,DIR2_arrive,raw,1.0,2022-01-02 05:00:10,50.666667,from point a
4,34416618,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 08:42:00,2022-01-01 08:39:16,"3.159100,101.712600",PANDAN INDAH,LEBUH AMPANG,NaN,2.201011e+11,3,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10,19.716667,idle mode
5,34416619,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 09:22:00,2022-01-01 09:22:25,"3.134030,101.755000",PANDAN INDAH,LEBUH AMPANG,55.0,2.201011e+11,3,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10,43.150000,to point a
6,34416620,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 09:55:00,2022-01-01 09:56:00,"3.134040,101.753600",PANDAN INDAH,LEBUH AMPANG,16.0,2.201011e+11,4,depart,DIR1_depart,raw,1.0,2022-01-02 05:00:10,33.583333,idle mode
7,34416621,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 10:40:00,2022-01-01 10:44:43,"3.158480,101.712300",PANDAN INDAH,LEBUH AMPANG,19.0,2.201011e+11,4,arrive,DIR2_arrive,raw,1.0,2022-01-02 05:00:10,48.716667,from point a
8,34416622,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 11:10:00,2022-01-01 11:10:36,"3.158610,101.712900",PANDAN INDAH,LEBUH AMPANG,11.0,2.201011e+11,5,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10,25.883333,idle mode
9,34416623,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 11:50:00,2022-01-01 11:53:03,"3.133770,101.753300",PANDAN INDAH,LEBUH AMPANG,41.0,2.201011e+11,5,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10,42.450000,to point a
144,34416772,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 13:00:00,2022-01-01 13:00:54,"3.134080,101.754000",PANDAN INDAH,LEBUH AMPANG,56.0,2.201011e+11,0,depart,DIR1_depart,raw,1.0,2022-01-02 05:00:10,67.850000,idle mode
145,34416773,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 13:45:00,2022-01-01 13:47:32,"3.159010,101.712100",PANDAN INDAH,LEBUH AMPANG,22.0,2.201011e+11,0,arrive,DIR2_arrive,raw,1.0,2022-01-02 05:00:10,46.633333,from point a
146,34416774,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 14:15:00,2022-01-01 14:41:02,"3.158260,101.713300",PANDAN INDAH,LEBUH AMPANG,53.0,2.201011e+11,1,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10,53.500000,idle mode
147,34416775,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 15:00:00,2022-01-01 15:30:40,"3.133870,101.752900",PANDAN INDAH,LEBUH AMPANG,18.0,2.201012e+11,1,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10,49.633333,to point a
148,34416776,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 16:43:00,2022-01-01 16:45:22,"3.134100,101.753800",PANDAN INDAH,LEBUH AMPANG,23.0,2.201012e+11,2,depart,DIR1_depart,raw,1.0,2022-01-02 05:00:10,74.700000,idle mode
149,34416777,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 17:28:00,2022-01-01 17:35:46,"3.158880,101.711700",PANDAN INDAH,LEBUH AMPANG,NaN,2.201012e+11,2,arrive,DIR2_arrive,raw,1.0,2022-01-02 05:00:10,50.400000,from point a
150,34416778,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 17:58:00,2022-01-01 18:04:50,"3.158830,101.713000",PANDAN INDAH,LEBUH AMPANG,18.0,2.201012e+11,3,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10,29.066667,idle mode
151,34416779,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 18:53:00,2022-01-01 18:51:02,"3.133740,101.753000",PANDAN INDAH,LEBUH AMPANG,12.0,2.201012e+11,3,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10,46.200000,to point a
152,34416780,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 19:48:00,2022-01-01 18:51:32,"3.134900,101.753400",PANDAN INDAH,LEBUH AMPANG,25.0,2.201012e+11,4,depart,DIR1_depart,raw,1.0,2022-01-02 05:00:10,0.500000,idle mode
153,34416781,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 20:33:00,2022-01-01 20:42:52,"3.158820,101.713200",PANDAN INDAH,LEBUH AMPANG,7.0,2.201012e+11,4,arrive,DIR2_arrive,raw,1.0,2022-01-02 05:00:10,111.333333,from point a
154,34416782,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 21:03:00,2022-01-01 21:07:54,"3.158770,101.713200",PANDAN INDAH,LEBUH AMPANG,24.0,2.201012e+11,5,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10,25.033333,idle mode
155,34416783,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 21:58:00,2022-01-01 21:55:18,"3.134000,101.754500",PANDAN INDAH,LEBUH AMPANG,56.0,2.201012e+11,5,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10,47.400000,to point a

In [44]:

trip_departure_1_1_2022_VGL1376_1=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no'])[['td_id']].count().reset_index().rename(columns={'td_id':'ttl_td_id'}) # total trips on date
trip_departure_1_1_2022_VGL1376_2=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no'])[['captain_id']].nunique().reset_index().rename(columns={'captain_id':'ttl_captain_id'}) # total captains on duty on date
trip_departure_1_1_2022_VGL1376_3=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no'])[['point_a']].nunique().reset_index().rename(columns={'point_a':'ttl_point_a'}) # total point a of trip on date
trip_departure_1_1_2022_VGL1376_4=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no'])[['point_b']].nunique().reset_index().rename(columns={'point_b':'ttl_point_b'}) # total point b of trip on date

trip_departure_1_1_2022_VGL1376_5=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='from point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'max'}).reset_index().rename(columns={'diff_minutes':'max_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_6=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='idle mode'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'max'}).reset_index().rename(columns={'diff_minutes':'max_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_7=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='to point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'max'}).reset_index().rename(columns={'diff_minutes':'max_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

trip_departure_1_1_2022_VGL1376_8=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='from point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'min'}).reset_index().rename(columns={'diff_minutes':'min_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_9=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='idle mode'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'min'}).reset_index().rename(columns={'diff_minutes':'min_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_10=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='to point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'min'}).reset_index().rename(columns={'diff_minutes':'min_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

trip_departure_1_1_2022_VGL1376_11=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='from point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'mean'}).reset_index().rename(columns={'diff_minutes':'avg_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_12=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='idle mode'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'mean'}).reset_index().rename(columns={'diff_minutes':'avg_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_13=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='to point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'mean'}).reset_index().rename(columns={'diff_minutes':'avg_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

trip_departure_1_1_2022_VGL1376_14=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='from point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'median'}).reset_index().rename(columns={'diff_minutes':'med_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_15=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='idle mode'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'median'}).reset_index().rename(columns={'diff_minutes':'med_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_16=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='to point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'median'}).reset_index().rename(columns={'diff_minutes':'med_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

trip_departure_1_1_2022_VGL1376_17=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no']).agg({'speed':'max'}).reset_index().rename(columns={'speed':'max_speed'})
trip_departure_1_1_2022_VGL1376_18=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no']).agg({'speed':'min'}).reset_index().rename(columns={'speed':'min_speed'})
trip_departure_1_1_2022_VGL1376_19=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no']).agg({'speed':'mean'}).reset_index().rename(columns={'speed':'avg_speed'})
trip_departure_1_1_2022_VGL1376_20=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no']).agg({'speed':'median'}).reset_index().rename(columns={'speed':'med_speed'})

trip_departure_1_1_2022_VGL1376_21=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','bus_no']).agg({'is_completed':'sum'}).reset_index().rename(columns={'is_completed':'ttl_td_completed'})

trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_1,trip_departure_1_1_2022_VGL1376_2,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_3,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_4,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_5,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_6,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_7,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_8,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_9,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_10,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_11,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_12,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_13,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_14,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_15,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_16,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_17,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_18,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_19,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_20,how='left',on=['ope_date','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_21,how='left',on=['ope_date','bus_no'])

trip_departure_1_1_2022_VGL1376_int

,ope_date,bus_no,ttl_td_id,ttl_captain_id,ttl_point_a,ttl_point_b,max_diff_minutes_from_point_a,max_diff_minutes_idle_mode,max_diff_minutes_to_point_a,min_diff_minutes_from_point_a,min_diff_minutes_idle_mode,min_diff_minutes_to_point_a,avg_diff_minutes_from_point_a,avg_diff_minutes_idle_mode,avg_diff_minutes_to_point_a,med_diff_minutes_from_point_a,med_diff_minutes_idle_mode,med_diff_minutes_to_point_a,max_speed,min_speed,avg_speed,med_speed,ttl_td_completed
0,2022-01-01,VGL1376,22,2,1,1,111.333333,74.7,49.633333,46.633333,0.5,36.25,61.55,36.686667,44.180556,50.4,31.325,44.675,56.0,7.0,28.45,22.5,22.0

In [64]:
import warnings
warnings.filterwarnings('ignore')

days=list(range(1,32,1))
months=list(range(1,2,1))
years=list(range(2022,2023,1))
bus_ids=trip_departure_1_2022['bus_no'].drop_duplicates().to_list()
df=pd.DataFrame()

for bus_id in bus_ids:
    data=trip_departure_1_2022[trip_departure_1_2022['bus_no']==bus_id]
    data['dt_gps']=pd.to_datetime(data['dt_gps'])
    data=data.sort_values('dt_gps')

    for year in years:
        data['dt_gps'].dt.year==year

        for month in months:
            data['dt_gps'].dt.month==month

            for day in days:
                data['dt_gps'].dt.day==day

                data['diff_minutes']=pd.to_datetime(data['dt_gps']).diff()/np.timedelta64(1, 'm')
                data['diff_label']=np.where((data['dir']=='arrive')&(data['direction']=='DIR2_arrive'),'to point a',np.nan)
                data['diff_label']=np.where((data['dir']=='arrive')&(data['direction']=='DIR1_arrive'),'from point a',data['diff_label'])
                data['diff_label']=np.where((data['dir']=='depart')&(data['direction']=='DIR1_depart'),'idle mode',data['diff_label'])
                data['diff_label']=np.where((data['dir']=='depart')&(data['direction']=='DIR2_depart'),'idle mode',data['diff_label'])

                data_1=data.groupby(['ope_date','bus_no'])[['td_id']].count().reset_index().rename(columns={'td_id':'ttl_td_id'}) # total trips on date
                data_2=data.groupby(['ope_date','bus_no'])[['captain_id']].nunique().reset_index().rename(columns={'captain_id':'ttl_captain_id'}) # total captains on duty on date
                data_3=data.groupby(['ope_date','bus_no'])[['point_a']].nunique().reset_index().rename(columns={'point_a':'ttl_point_a'}) # total point a of trip on date
                data_4=data.groupby(['ope_date','bus_no'])[['point_b']].nunique().reset_index().rename(columns={'point_b':'ttl_point_b'}) # total point b of trip on date

                data_5=data[data['diff_label']=='from point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'max'}).reset_index().\
                    rename(columns={'diff_minutes':'max_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
                data_6=data[data['diff_label']=='idle mode'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'max'}).reset_index().\
                    rename(columns={'diff_minutes':'max_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
                data_7=data[data['diff_label']=='to point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'max'}).reset_index().\
                    rename(columns={'diff_minutes':'max_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

                data_8=data[data['diff_label']=='from point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'min'}).reset_index().\
                    rename(columns={'diff_minutes':'min_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
                data_9=data[data['diff_label']=='idle mode'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'min'}).reset_index().\
                    rename(columns={'diff_minutes':'min_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
                data_10=data[data['diff_label']=='to point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'min'}).reset_index().\
                    rename(columns={'diff_minutes':'min_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

                data_11=data[data['diff_label']=='from point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'mean'}).reset_index().\
                    rename(columns={'diff_minutes':'avg_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
                data_12=data[data['diff_label']=='idle mode'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'mean'}).reset_index().\
                    rename(columns={'diff_minutes':'avg_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
                data_13=data[data['diff_label']=='to point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'mean'}).reset_index().\
                    rename(columns={'diff_minutes':'avg_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

                data_14=data[data['diff_label']=='from point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'median'}).reset_index().\
                    rename(columns={'diff_minutes':'med_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
                data_15=data[data['diff_label']=='idle mode'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'median'}).reset_index().\
                    rename(columns={'diff_minutes':'med_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
                data_16=data[data['diff_label']=='to point a'].groupby(['ope_date','bus_no','diff_label']).agg({'diff_minutes':'median'}).reset_index().\
                    rename(columns={'diff_minutes':'med_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

                data_17=data.groupby(['ope_date','bus_no']).agg({'speed':'max'}).reset_index().rename(columns={'speed':'max_speed'})
                data_18=data.groupby(['ope_date','bus_no']).agg({'speed':'min'}).reset_index().rename(columns={'speed':'min_speed'})
                data_19=data.groupby(['ope_date','bus_no']).agg({'speed':'mean'}).reset_index().rename(columns={'speed':'avg_speed'})
                data_20=data.groupby(['ope_date','bus_no']).agg({'speed':'median'}).reset_index().rename(columns={'speed':'med_speed'})

                data_21=data.groupby(['ope_date','bus_no']).agg({'is_completed':'sum'}).reset_index().rename(columns={'is_completed':'ttl_td_completed'})

                data_int=pd.merge(data_1,data_2,how='left',on=['ope_date','bus_no'])

                data_int=pd.merge(data_int,data_3,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_4,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_5,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_6,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_7,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_8,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_9,how='left',on=['ope_date','bus_no'])

                data_int=pd.merge(data_int,data_10,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_11,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_12,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_13,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_14,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_15,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_16,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_17,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_18,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_19,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_20,how='left',on=['ope_date','bus_no'])
                data_int=pd.merge(data_int,data_21,how='left',on=['ope_date','bus_no'])

                df=pd.concat([df,data_int])

df

KeyboardInterrupt:

In [52]:
len(trip_departure_1_2022['bus_no'].drop_duplicates().to_list())*31

20801

In [65]:
df

,ope_date,bus_no,ttl_td_id,ttl_captain_id,ttl_point_a,ttl_point_b,max_diff_minutes_from_point_a,max_diff_minutes_idle_mode,max_diff_minutes_to_point_a,min_diff_minutes_from_point_a,min_diff_minutes_idle_mode,min_diff_minutes_to_point_a,avg_diff_minutes_from_point_a,avg_diff_minutes_idle_mode,avg_diff_minutes_to_point_a,med_diff_minutes_from_point_a,med_diff_minutes_idle_mode,med_diff_minutes_to_point_a,max_speed,min_speed,avg_speed,med_speed,ttl_td_completed
0,2022-01-01,VGL1376,22,2,1,1,49.633333,74.700000,111.333333,36.250000,0.500000,46.633333,44.180556,36.686667,61.550000,44.675000,31.325000,50.400000,56.0,7.0,28.450000,22.5,22.0
1,2022-01-03,VGL1376,18,2,1,1,71.916667,2015.033333,53.933333,43.633333,18.866667,37.333333,54.462500,262.777778,46.946667,51.150000,37.266667,48.716667,73.0,8.0,25.941176,17.0,18.0
2,2022-01-04,VGL1376,20,1,1,1,66.950000,518.550000,63.650000,40.933333,18.683333,36.216667,50.123333,93.876667,50.690000,49.450000,56.266667,47.200000,89.0,5.0,25.700000,19.0,18.0
3,2022-01-05,VGL1376,14,1,1,1,58.933333,643.550000,54.966667,41.883333,20.050000,42.316667,51.827778,130.271429,47.895833,54.666667,56.383333,47.150000,62.0,5.0,24.928571,15.0,14.0
4,2022-01-06,VGL1376,24,2,1,1,67.016667,739.250000,53.783333,48.100000,19.450000,34.550000,54.530556,100.076389,45.697222,52.783333,38.841667,47.216667,50.0,11.0,22.000000,16.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,2022-01-26,WVL581,38,2,1,1,58.916667,623.316667,44.783333,20.750000,0.000000,0.000000,30.761667,52.784211,30.994444,24.066667,25.600000,39.533333,55.0,4.0,21.687500,18.0,38.0
25,2022-01-27,WVL581,40,2,1,1,70.183333,443.016667,45.316667,21.166667,0.000000,30.250000,27.416667,37.948333,39.278333,22.616667,4.075000,39.900000,45.0,1.0,18.692308,15.0,40.0
26,2022-01-28,WVL581,20,1,1,1,43.883333,502.000000,48.766667,21.933333,0.000000,30.366667,27.963333,95.875000,41.756667,25.316667,8.308333,41.700000,45.0,1.0,22.062500,19.5,20.0
27,2022-01-30,WVL581,20,1,1,1,35.550000,2074.966667,39.116667,17.883333,0.000000,29.533333,25.066667,256.478333,36.763333,23.400000,14.108333,38.800000,50.0,4.0,22.000000,17.0,20.0
28,2022-01-31,WVL581,40,2,1,1,28.766667,596.200000,42.783333,18.700000,0.000000,0.000000,23.090000,49.895000,34.706667,21.900000,24.541667,39.333333,53.0,6.0,22.100000,19.0,40.0