In [11]:
#read data from google drive
import pandas as pd

url_route='https://drive.google.com/file/d/1Zpo2zNZ3V1W1X4Z-icmugbCMZwHIcvCQ/view?usp=sharing' #route data
file_id_route=url_route.split('/')[-2]
dwn_url_route='https://drive.google.com/uc?id=' + file_id_route

url_rtd='https://drive.google.com/file/d/1rsJl1dTXFxP9NdzYWQDg-Mi5uaPq7Sdt/view?usp=sharing' # rtd data
file_id_rtd=url_rtd.split('/')[-2]
dwn_url_rtd='https://drive.google.com/uc?id=' + file_id_rtd

url_routebusstop='https://drive.google.com/file/d/1oUXNyNECeB5mewBGC-gOnBObddnUxJtH/view?usp=sharing' # route bus stop data
file_id_routebusstop=url_routebusstop.split('/')[-2]
dwn_url_routebusstop='https://drive.google.com/uc?id=' + file_id_routebusstop

url_engbusrepair='https://drive.google.com/file/d/1j1TaaCFTjo6QPAjTLA0oO0EvP5PZKuT3/view?usp=sharing' # eng bus repair data
file_id_engbusrepair=url_engbusrepair.split('/')[-2]
dwn_url_engbusrepair='https://drive.google.com/uc?id=' + file_id_engbusrepair

url_depot='https://drive.google.com/file/d/12t8aUsXqHgv7d4N448naa9ELAUz543pu/view?usp=sharing' # depot data
file_id_depot=url_depot.split('/')[-2]
dwn_url_depot='https://drive.google.com/uc?id=' + file_id_depot

url_captschedule='https://drive.google.com/file/d/1bc1QUGgn-pNGh2EEgqNPktekh1sVnVn0/view?usp=sharing' # captain schedule data
file_id_captschedule=url_captschedule.split('/')[-2]
dwn_url_captschedule='https://drive.google.com/uc?id=' + file_id_captschedule

url_busstoplist='https://drive.google.com/file/d/1Ht9MtdExwMTSl_nlvT6xePbrVcrelYVa/view?usp=sharing' # bus stop list data
file_id_busstoplist=url_busstoplist.split('/')[-2]
dwn_url_busstoplist='https://drive.google.com/uc?id=' + file_id_busstoplist

url_accident='https://drive.google.com/file/d/1Z9Dw_Qcb3JWnowbCmsZn9EDDBTJwmrJN/view?usp=sharing' # accident data
file_id_accident=url_accident.split('/')[-2]
dwn_url_accident='https://drive.google.com/uc?id=' + file_id_accident

url_tripdeparture='https://drive.google.com/file/d/1ax4m65Ev0awt1nkE_aLYurhO5Ydp-cHt/view?usp=sharing' # trip departure data
file_id_tripdeparture=url_tripdeparture.split('/')[-2]
dwn_url_tripdeparture='https://drive.google.com/uc?id=' + file_id_tripdeparture

In [12]:
#df = pd.read_csv(dwn_url_rtd)
print(dwn_url_route)

https://drive.google.com/uc?id=1Zpo2zNZ3V1W1X4Z-icmugbCMZwHIcvCQ

In [13]:
pd.read_csv(dwn_url_route)

,route_id,route_no,route_no_cbts,route_origin,route_destination,route_type,route_category,route_service,route_corridor,route_name,...,status,freq_min,freq_max,total_km,km_per_trip,travel_time,deadmileage,line_id,zone,pis_profile
0,1,B103,XB1030,NaN,NaN,0,Normal,RAPID,NaN,NONAME,...,5,0.0,0.0,15.2,NaN,0.0,NaN,NaN,0,NaN
1,2,B112,XB1120,NaN,NaN,0,Normal,RAPID,NaN,NONAME,...,5,0.0,0.0,19.3,NaN,0.0,NaN,NaN,0,NaN
2,3,B114,XB1140,NaN,NaN,0,Normal,RAPID,NaN,NONAME,...,5,0.0,0.0,22.8,NaN,0.0,NaN,NaN,0,NaN
3,4,B115,XB1150,NaN,NaN,0,Normal,RAPID,NaN,NONAME,...,5,0.0,0.0,18.5,NaN,0.0,NaN,NaN,0,NaN
4,5,U1,XU0010,NaN,NaN,UTAMA,Normal,RAPID,NaN,NONAME,...,5,0.0,0.0,33.6,NaN,0.0,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977,1165,MS02,H4200,MRT PUTRAJAYA SENTRAL,KOMPLEKS NASYRUL QURAN,OTHER,NaN,RAPID,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,64.5,NaN,0,NaN
978,1166,MS02,H4200,MRT PUTRAJAYA SENTRAL,KOMPLEKS NASYRUL QURAN,OTHER,NaN,RAPID,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,64.5,NaN,0,NaN
979,1167,MS03,H4300,MRT PUTRAJAYA SENTRAL,MARINA PUTRAJAYA,OTHER,NaN,RAPID,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,64.5,NaN,0,NaN
980,1168,MS03,H4300,MRT PUTRAJAYA SENTRAL,MARINA PUTRAJAYA,OTHER,NaN,RAPID,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,64.5,NaN,0,NaN
981,1169,MS03,H4300,MRT PUTRAJAYA SENTRAL,MARINA PUTRAJAYA,OTHER,NaN,RAPID,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,64.5,NaN,0,NaN