### Trip Departure Data Exploration (Sample for Jan 2022)

In [2]:
import pandas as pd
import numpy as np

In [44]:
trip_departure_1_2022=pd.read_csv('../data/trip_departure/trip_departure_1_2022.csv')
trip_departure_1_2022.head(10)

,td_id,ope_date,depot_id,line_id,captain_id,bus_no,code_duty,dt_plan,dt_gps,lat_lng,point_a,point_b,speed,sequence,pair,dir,direction,category,is_completed,td_created
0,34416614,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 06:15:00,2022-01-01 06:15:36,"3.158640,101.713100",PANDAN INDAH,LEBUH AMPANG,31.0,2.201011e+11,1,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10
1,34416615,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 06:50:00,2022-01-01 06:51:51,"3.133800,101.753600",PANDAN INDAH,LEBUH AMPANG,52.0,2.201011e+11,1,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10
2,34416616,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 07:27:00,2022-01-01 07:28:53,"3.134010,101.753800",PANDAN INDAH,LEBUH AMPANG,15.0,2.201011e+11,2,depart,DIR1_depart,raw,1.0,2022-01-02 05:00:10
3,34416617,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 08:17:00,2022-01-01 08:19:33,"3.158930,101.712000",PANDAN INDAH,LEBUH AMPANG,15.0,2.201011e+11,2,arrive,DIR2_arrive,raw,1.0,2022-01-02 05:00:10
4,34416618,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 08:42:00,2022-01-01 08:39:16,"3.159100,101.712600",PANDAN INDAH,LEBUH AMPANG,NaN,2.201011e+11,3,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10
5,34416619,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 09:22:00,2022-01-01 09:22:25,"3.134030,101.755000",PANDAN INDAH,LEBUH AMPANG,55.0,2.201011e+11,3,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10
6,34416620,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 09:55:00,2022-01-01 09:56:00,"3.134040,101.753600",PANDAN INDAH,LEBUH AMPANG,16.0,2.201011e+11,4,depart,DIR1_depart,raw,1.0,2022-01-02 05:00:10
7,34416621,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 10:40:00,2022-01-01 10:44:43,"3.158480,101.712300",PANDAN INDAH,LEBUH AMPANG,19.0,2.201011e+11,4,arrive,DIR2_arrive,raw,1.0,2022-01-02 05:00:10
8,34416622,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 11:10:00,2022-01-01 11:10:36,"3.158610,101.712900",PANDAN INDAH,LEBUH AMPANG,11.0,2.201011e+11,5,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10
9,34416623,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 11:50:00,2022-01-01 11:53:03,"3.133770,101.753300",PANDAN INDAH,LEBUH AMPANG,41.0,2.201011e+11,5,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10

In [45]:
#data model using sample data
pd.set_option('display.max_columns', None)

trip_departure_1_1_2022_VGL1376=trip_departure_1_2022[(trip_departure_1_2022['bus_no']=='VGL1376')&(trip_departure_1_2022['ope_date']=='2022-01-01')]
trip_departure_1_1_2022_VGL1376['dt_gps']=pd.to_datetime(trip_departure_1_1_2022_VGL1376['dt_gps'])
trip_departure_1_1_2022_VGL1376=trip_departure_1_1_2022_VGL1376.sort_values('dt_gps')
trip_departure_1_1_2022_VGL1376['diff_minutes']=pd.to_datetime(trip_departure_1_1_2022_VGL1376['dt_gps']).diff()/np.timedelta64(1, 'm')

trip_departure_1_1_2022_VGL1376['diff_label']=np.where((trip_departure_1_1_2022_VGL1376['dir']=='arrive')&(trip_departure_1_1_2022_VGL1376['direction']=='DIR2_arrive'),'from point a',np.nan)
trip_departure_1_1_2022_VGL1376['diff_label']=np.where((trip_departure_1_1_2022_VGL1376['dir']=='arrive')&(trip_departure_1_1_2022_VGL1376['direction']=='DIR1_arrive'),'to point a',trip_departure_1_1_2022_VGL1376['diff_label'])
trip_departure_1_1_2022_VGL1376['diff_label']=np.where((trip_departure_1_1_2022_VGL1376['dir']=='depart')&(trip_departure_1_1_2022_VGL1376['direction']=='DIR1_depart'),'idle mode',trip_departure_1_1_2022_VGL1376['diff_label'])
trip_departure_1_1_2022_VGL1376['diff_label']=np.where((trip_departure_1_1_2022_VGL1376['dir']=='depart')&(trip_departure_1_1_2022_VGL1376['direction']=='DIR2_depart'),'idle mode',trip_departure_1_1_2022_VGL1376['diff_label'])

trip_departure_1_1_2022_VGL1376

,td_id,ope_date,depot_id,line_id,captain_id,bus_no,code_duty,dt_plan,dt_gps,lat_lng,point_a,point_b,speed,sequence,pair,dir,direction,category,is_completed,td_created,diff_minutes,diff_label
0,34416614,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 06:15:00,2022-01-01 06:15:36,"3.158640,101.713100",PANDAN INDAH,LEBUH AMPANG,31.0,2.201011e+11,1,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10,NaN,idle mode
1,34416615,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 06:50:00,2022-01-01 06:51:51,"3.133800,101.753600",PANDAN INDAH,LEBUH AMPANG,52.0,2.201011e+11,1,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10,36.250000,to point a
2,34416616,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 07:27:00,2022-01-01 07:28:53,"3.134010,101.753800",PANDAN INDAH,LEBUH AMPANG,15.0,2.201011e+11,2,depart,DIR1_depart,raw,1.0,2022-01-02 05:00:10,37.033333,idle mode
3,34416617,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 08:17:00,2022-01-01 08:19:33,"3.158930,101.712000",PANDAN INDAH,LEBUH AMPANG,15.0,2.201011e+11,2,arrive,DIR2_arrive,raw,1.0,2022-01-02 05:00:10,50.666667,from point a
4,34416618,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 08:42:00,2022-01-01 08:39:16,"3.159100,101.712600",PANDAN INDAH,LEBUH AMPANG,NaN,2.201011e+11,3,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10,19.716667,idle mode
5,34416619,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 09:22:00,2022-01-01 09:22:25,"3.134030,101.755000",PANDAN INDAH,LEBUH AMPANG,55.0,2.201011e+11,3,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10,43.150000,to point a
6,34416620,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 09:55:00,2022-01-01 09:56:00,"3.134040,101.753600",PANDAN INDAH,LEBUH AMPANG,16.0,2.201011e+11,4,depart,DIR1_depart,raw,1.0,2022-01-02 05:00:10,33.583333,idle mode
7,34416621,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 10:40:00,2022-01-01 10:44:43,"3.158480,101.712300",PANDAN INDAH,LEBUH AMPANG,19.0,2.201011e+11,4,arrive,DIR2_arrive,raw,1.0,2022-01-02 05:00:10,48.716667,from point a
8,34416622,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 11:10:00,2022-01-01 11:10:36,"3.158610,101.712900",PANDAN INDAH,LEBUH AMPANG,11.0,2.201011e+11,5,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10,25.883333,idle mode
9,34416623,2022-01-01,4,U3000,EOHJDILF,VGL1376,AM1,2022-01-01 11:50:00,2022-01-01 11:53:03,"3.133770,101.753300",PANDAN INDAH,LEBUH AMPANG,41.0,2.201011e+11,5,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10,42.450000,to point a
144,34416772,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 13:00:00,2022-01-01 13:00:54,"3.134080,101.754000",PANDAN INDAH,LEBUH AMPANG,56.0,2.201011e+11,0,depart,DIR1_depart,raw,1.0,2022-01-02 05:00:10,67.850000,idle mode
145,34416773,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 13:45:00,2022-01-01 13:47:32,"3.159010,101.712100",PANDAN INDAH,LEBUH AMPANG,22.0,2.201011e+11,0,arrive,DIR2_arrive,raw,1.0,2022-01-02 05:00:10,46.633333,from point a
146,34416774,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 14:15:00,2022-01-01 14:41:02,"3.158260,101.713300",PANDAN INDAH,LEBUH AMPANG,53.0,2.201011e+11,1,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10,53.500000,idle mode
147,34416775,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 15:00:00,2022-01-01 15:30:40,"3.133870,101.752900",PANDAN INDAH,LEBUH AMPANG,18.0,2.201012e+11,1,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10,49.633333,to point a
148,34416776,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 16:43:00,2022-01-01 16:45:22,"3.134100,101.753800",PANDAN INDAH,LEBUH AMPANG,23.0,2.201012e+11,2,depart,DIR1_depart,raw,1.0,2022-01-02 05:00:10,74.700000,idle mode
149,34416777,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 17:28:00,2022-01-01 17:35:46,"3.158880,101.711700",PANDAN INDAH,LEBUH AMPANG,NaN,2.201012e+11,2,arrive,DIR2_arrive,raw,1.0,2022-01-02 05:00:10,50.400000,from point a
150,34416778,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 17:58:00,2022-01-01 18:04:50,"3.158830,101.713000",PANDAN INDAH,LEBUH AMPANG,18.0,2.201012e+11,3,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10,29.066667,idle mode
151,34416779,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 18:53:00,2022-01-01 18:51:02,"3.133740,101.753000",PANDAN INDAH,LEBUH AMPANG,12.0,2.201012e+11,3,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10,46.200000,to point a
152,34416780,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 19:48:00,2022-01-01 18:51:32,"3.134900,101.753400",PANDAN INDAH,LEBUH AMPANG,25.0,2.201012e+11,4,depart,DIR1_depart,raw,1.0,2022-01-02 05:00:10,0.500000,idle mode
153,34416781,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 20:33:00,2022-01-01 20:42:52,"3.158820,101.713200",PANDAN INDAH,LEBUH AMPANG,7.0,2.201012e+11,4,arrive,DIR2_arrive,raw,1.0,2022-01-02 05:00:10,111.333333,from point a
154,34416782,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 21:03:00,2022-01-01 21:07:54,"3.158770,101.713200",PANDAN INDAH,LEBUH AMPANG,24.0,2.201012e+11,5,depart,DIR2_depart,raw,1.0,2022-01-02 05:00:10,25.033333,idle mode
155,34416783,2022-01-01,4,U3000,LFMZNEPU,VGL1376,PM1,2022-01-01 21:58:00,2022-01-01 21:55:18,"3.134000,101.754500",PANDAN INDAH,LEBUH AMPANG,56.0,2.201012e+11,5,arrive,DIR1_arrive,raw,1.0,2022-01-02 05:00:10,47.400000,to point a

In [65]:

trip_departure_1_1_2022_VGL1376_1=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b'])[['td_id']].count().reset_index().rename(columns={'td_id':'ttl_td_id'}) # total trips on date
trip_departure_1_1_2022_VGL1376_2=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b'])[['captain_id']].nunique().reset_index().rename(columns={'captain_id':'ttl_captain_id'}) # total captains on duty on date
trip_departure_1_1_2022_VGL1376_3=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','depot_id','line_id','bus_no'])[['point_a']].nunique().reset_index().rename(columns={'point_a':'ttl_point_a'}) # total point a of trip on date
trip_departure_1_1_2022_VGL1376_4=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','depot_id','line_id','bus_no'])[['point_b']].nunique().reset_index().rename(columns={'point_b':'ttl_point_b'}) # total point b of trip on date

trip_departure_1_1_2022_VGL1376_5=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='from point a'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'max'}).reset_index().rename(columns={'diff_minutes':'max_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_6=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='idle mode'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'max'}).reset_index().rename(columns={'diff_minutes':'max_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_7=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='to point a'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'max'}).reset_index().rename(columns={'diff_minutes':'max_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

trip_departure_1_1_2022_VGL1376_8=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='from point a'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'min'}).reset_index().rename(columns={'diff_minutes':'min_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_9=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='idle mode'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'min'}).reset_index().rename(columns={'diff_minutes':'min_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_10=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='to point a'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'min'}).reset_index().rename(columns={'diff_minutes':'min_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

trip_departure_1_1_2022_VGL1376_11=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='from point a'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'mean'}).reset_index().rename(columns={'diff_minutes':'avg_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_12=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='idle mode'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'mean'}).reset_index().rename(columns={'diff_minutes':'avg_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_13=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='to point a'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'mean'}).reset_index().rename(columns={'diff_minutes':'avg_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

trip_departure_1_1_2022_VGL1376_14=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='from point a'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'median'}).reset_index().rename(columns={'diff_minutes':'med_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_15=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='idle mode'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'median'}).reset_index().rename(columns={'diff_minutes':'med_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
trip_departure_1_1_2022_VGL1376_16=trip_departure_1_1_2022_VGL1376[trip_departure_1_1_2022_VGL1376['diff_label']=='to point a'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'median'}).reset_index().rename(columns={'diff_minutes':'med_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

trip_departure_1_1_2022_VGL1376_17=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b']).agg({'speed':'max'}).reset_index().rename(columns={'speed':'max_speed'})
trip_departure_1_1_2022_VGL1376_18=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b']).agg({'speed':'min'}).reset_index().rename(columns={'speed':'min_speed'})
trip_departure_1_1_2022_VGL1376_19=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b']).agg({'speed':'mean'}).reset_index().rename(columns={'speed':'avg_speed'})
trip_departure_1_1_2022_VGL1376_20=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b']).agg({'speed':'median'}).reset_index().rename(columns={'speed':'med_speed'})

trip_departure_1_1_2022_VGL1376_21=trip_departure_1_1_2022_VGL1376.groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b']).agg({'is_completed':'sum'}).reset_index().rename(columns={'is_completed':'ttl_td_completed'})

trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_1,trip_departure_1_1_2022_VGL1376_2,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])

trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_3,how='left',on=['ope_date','depot_id','line_id','bus_no'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_4,how='left',on=['ope_date','depot_id','line_id','bus_no'])

trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_5,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_6,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_7,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_8,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_9,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_10,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_11,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_12,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_13,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_14,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_15,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_16,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_17,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_18,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_19,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_20,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
trip_departure_1_1_2022_VGL1376_int=pd.merge(trip_departure_1_1_2022_VGL1376_int,trip_departure_1_1_2022_VGL1376_21,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])

trip_departure_1_1_2022_VGL1376_int

,ope_date,depot_id,line_id,bus_no,point_a,point_b,ttl_td_id,ttl_captain_id,ttl_point_a,ttl_point_b,max_diff_minutes_from_point_a,max_diff_minutes_idle_mode,max_diff_minutes_to_point_a,min_diff_minutes_from_point_a,min_diff_minutes_idle_mode,min_diff_minutes_to_point_a,avg_diff_minutes_from_point_a,avg_diff_minutes_idle_mode,avg_diff_minutes_to_point_a,med_diff_minutes_from_point_a,med_diff_minutes_idle_mode,med_diff_minutes_to_point_a,max_speed,min_speed,avg_speed,med_speed,ttl_td_completed
0,2022-01-01,4,U3000,VGL1376,PANDAN INDAH,LEBUH AMPANG,22,2,1,1,111.333333,74.7,49.633333,46.633333,0.5,36.25,61.55,36.686667,44.180556,50.4,31.325,44.675,56.0,7.0,28.45,22.5,22.0

In [109]:
import os
os.listdir('../data/trip_departure/')[1:]

['trip_departure_10_2022.csv',
 'trip_departure_11_2022.csv',
 'trip_departure_12_2022.csv',
 'trip_departure_1_2022.csv',
 'trip_departure_1_2023.csv',
 'trip_departure_2_2022.csv',
 'trip_departure_2_2023.csv',
 'trip_departure_3_2022.csv',
 'trip_departure_3_2023.csv',
 'trip_departure_4_2022.csv',
 'trip_departure_4_2023.csv',
 'trip_departure_5_2022.csv',
 'trip_departure_5_2023.csv',
 'trip_departure_6_2022.csv',
 'trip_departure_6_2023.csv',
 'trip_departure_7_2022.csv',
 'trip_departure_8_2022.csv',
 'trip_departure_9_2022.csv']

In [2]:
import pandas as pd
import numpy as np
import warnings
import os

warnings.filterwarnings('ignore') #notes to include route id

#days=list(range(1,32,1))
#months=list(range(1,2,1))
#years=list(range(2022,2023,1))

td_files=os.listdir ('../data/trip_departure/')[1:]
df=pd.DataFrame()

for td_file in td_files:
    print(td_file)

    trip_departure_month_year=pd.read_csv('../data/trip_departure/'+td_file)

    days=pd.to_datetime(trip_departure_month_year['dt_gps']).dt.day.drop_duplicates().to_list()
    months=pd.to_datetime(trip_departure_month_year['dt_gps']).dt.month.drop_duplicates().to_list()
    years=pd.to_datetime(trip_departure_month_year['dt_gps']).dt.year.drop_duplicates().to_list()

    bus_ids=trip_departure_month_year['bus_no'].drop_duplicates().to_list()

    for year in years:
        print(year)

        for month in months:
            print(month)

            for day in days:
                print(day)
                
                for bus_id in bus_ids: # loop by unique bus id / registration number
                    #print(bus_id)

                    trip_departure_month_year['dt_gps']=pd.to_datetime(trip_departure_month_year['dt_gps'])     
                    
                    data=trip_departure_month_year[(trip_departure_month_year['bus_no']==bus_id)&(trip_departure_month_year['dt_gps'].dt.year==year)&
                    (trip_departure_month_year['dt_gps'].dt.month==month)&(trip_departure_month_year['dt_gps'].dt.day==day)]
                    data['dt_gps']=pd.to_datetime(data['dt_gps'])     

            
                    data=data.sort_values('dt_gps') # sort desc datetime , reason is to find time difference from trip to trip

                    data['diff_minutes']=pd.to_datetime(data['dt_gps']).diff()/np.timedelta64(1, 'm')
                    data['diff_label']=np.where((data['dir']=='arrive')&(data['direction']=='DIR2_arrive'),'to point a',np.nan)
                    data['diff_label']=np.where((data['dir']=='arrive')&(data['direction']=='DIR1_arrive'),'from point a',data['diff_label'])
                    data['diff_label']=np.where((data['dir']=='depart')&(data['direction']=='DIR1_depart'),'idle mode',data['diff_label'])
                    data['diff_label']=np.where((data['dir']=='depart')&(data['direction']=='DIR2_depart'),'idle mode',data['diff_label'])

                    data_1=data.groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b'])[['td_id']].count().reset_index().rename(columns={'td_id':'ttl_td_id'}) # total trips on date
                    data_2=data.groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b'])[['captain_id']].nunique().reset_index().rename(columns={'captain_id':'ttl_captain_id'}) # total captains on duty on date
                    data_3=data.groupby(['ope_date','depot_id','line_id','bus_no'])[['point_a']].nunique().reset_index().rename(columns={'point_a':'ttl_point_a'}) # total point a of trip on date
                    data_4=data.groupby(['ope_date','depot_id','line_id','bus_no'])[['point_b']].nunique().reset_index().rename(columns={'point_b':'ttl_point_b'}) # total point b of trip on date

                    data_5=data[data['diff_label']=='from point a'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'max'}).reset_index().\
                        rename(columns={'diff_minutes':'max_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
                    data_6=data[data['diff_label']=='idle mode'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'max'}).reset_index().\
                        rename(columns={'diff_minutes':'max_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
                    data_7=data[data['diff_label']=='to point a'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'max'}).reset_index().\
                        rename(columns={'diff_minutes':'max_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

                    data_8=data[data['diff_label']=='from point a'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'min'}).reset_index().\
                        rename(columns={'diff_minutes':'min_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
                    data_9=data[data['diff_label']=='idle mode'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'min'}).reset_index().\
                        rename(columns={'diff_minutes':'min_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
                    data_10=data[data['diff_label']=='to point a'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'min'}).reset_index().\
                        rename(columns={'diff_minutes':'min_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

                    data_11=data[data['diff_label']=='from point a'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'mean'}).reset_index().\
                        rename(columns={'diff_minutes':'avg_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
                    data_12=data[data['diff_label']=='idle mode'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'mean'}).reset_index().\
                        rename(columns={'diff_minutes':'avg_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
                    data_13=data[data['diff_label']=='to point a'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'mean'}).reset_index().\
                        rename(columns={'diff_minutes':'avg_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

                    data_14=data[data['diff_label']=='from point a'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'median'}).reset_index().\
                        rename(columns={'diff_minutes':'med_diff_minutes_from_point_a'}).drop(columns=['diff_label'])
                    data_15=data[data['diff_label']=='idle mode'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'median'}).reset_index().\
                        rename(columns={'diff_minutes':'med_diff_minutes_idle_mode'}).drop(columns=['diff_label'])
                    data_16=data[data['diff_label']=='to point a'].groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b','diff_label']).agg({'diff_minutes':'median'}).reset_index().\
                        rename(columns={'diff_minutes':'med_diff_minutes_to_point_a'}).drop(columns=['diff_label'])

                    data_17=data.groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b']).agg({'speed':'max'}).reset_index().rename(columns={'speed':'max_speed'})
                    data_18=data.groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b']).agg({'speed':'min'}).reset_index().rename(columns={'speed':'min_speed'})
                    data_19=data.groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b']).agg({'speed':'mean'}).reset_index().rename(columns={'speed':'avg_speed'})
                    data_20=data.groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b']).agg({'speed':'median'}).reset_index().rename(columns={'speed':'med_speed'})

                    data_21=data.groupby(['ope_date','depot_id','line_id','bus_no','point_a','point_b']).agg({'is_completed':'sum'}).reset_index().rename(columns={'is_completed':'ttl_td_completed'})

                    data_int=pd.merge(data_1,data_2,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])

                    data_int=pd.merge(data_int,data_3,how='left',on=['ope_date','depot_id','line_id','bus_no'])
                    data_int=pd.merge(data_int,data_4,how='left',on=['ope_date','depot_id','line_id','bus_no'])

                    data_int=pd.merge(data_int,data_5,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
                    data_int=pd.merge(data_int,data_6,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
                    data_int=pd.merge(data_int,data_7,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
                    data_int=pd.merge(data_int,data_8,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
                    data_int=pd.merge(data_int,data_9,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])

                    data_int=pd.merge(data_int,data_10,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
                    data_int=pd.merge(data_int,data_11,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
                    data_int=pd.merge(data_int,data_12,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
                    data_int=pd.merge(data_int,data_13,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
                    data_int=pd.merge(data_int,data_14,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
                    data_int=pd.merge(data_int,data_15,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
                    data_int=pd.merge(data_int,data_16,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
                    data_int=pd.merge(data_int,data_17,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
                    data_int=pd.merge(data_int,data_18,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
                    data_int=pd.merge(data_int,data_19,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
                    data_int=pd.merge(data_int,data_20,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])
                    data_int=pd.merge(data_int,data_21,how='left',on=['ope_date','depot_id','line_id','bus_no','point_a','point_b'])

                    df=pd.concat([df,data_int])

df.to_csv('../data/trip_departure/processed/td_agg.csv',index=False)

trip_departure_10_2022.csv
2022
10
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
11
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
trip_departure_11_2022.csv
2022
11
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
12
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
trip_departure_12_2022.csv
2022
12
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
1
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
2023
12
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
1
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
trip_departure_1_2022.csv
2022
1
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
2
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
trip_departure_1_2023.csv
2023
1
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
2
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
trip_departure_2_2022.csv
2022
2
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
3
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
trip_departure_2_2023.csv
2023
2
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
3
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
trip_departure_3_2022.csv
2022
3
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
4
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
trip_departure_3_2023.csv
2023
3
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
4
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
trip_departure_4_2022.csv
2022
4
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
5
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
trip_departure_4_2023.csv
2023
4
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
5
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
trip_departure_5_2022.csv
2022
5
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
6
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
trip_departure_5_2023.csv
2023
5
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
6
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
trip_departure_6_2022.csv
2022
6
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
7
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
trip_departure_6_2023.csv
2023
6
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
7
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
trip_departure_7_2022.csv
2022
7
1
2
3
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
4
trip_departure_8_2022.csv
2022
8
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
9
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
trip_departure_9_2022.csv
2022
9
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
10
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [52]:
len(trip_departure_1_2022['bus_no'].drop_duplicates().to_list())*31

20801

In [3]:
df

,ope_date,depot_id,line_id,bus_no,point_a,point_b,ttl_td_id,ttl_captain_id,ttl_point_a,ttl_point_b,...,avg_diff_minutes_idle_mode,avg_diff_minutes_to_point_a,med_diff_minutes_from_point_a,med_diff_minutes_idle_mode,med_diff_minutes_to_point_a,max_speed,min_speed,avg_speed,med_speed,ttl_td_completed
0,2022-10-01,10,K1000,CDH7753,H/BANDAR,GAMBANG RESORT,14,1,1,1,...,61.783333,68.311111,72.258333,57.675000,80.316667,28.0,8.0,16.181818,15.0,14.0
0,2022-10-01,10,K1000,CDD1442,H/BANDAR,GAMBANG RESORT,12,1,1,1,...,32.366667,88.500000,73.366667,41.483333,82.150000,56.0,15.0,24.090909,19.0,12.0
0,2022-10-01,10,K1000,CDH2338,H/BANDAR,GAMBANG RESORT,12,1,1,1,...,57.560000,60.505556,83.266667,51.216667,62.033333,59.0,8.0,21.777778,17.0,12.0
0,2022-10-01,10,K1000,CDH5966,H/BANDAR,GAMBANG RESORT,12,1,1,1,...,53.123333,70.572222,76.666667,44.350000,71.983333,45.0,8.0,17.083333,14.0,12.0
0,2022-10-01,10,K1000,CDH7750,H/BANDAR,GAMBANG RESORT,8,1,1,1,...,24.000000,86.300000,94.383333,18.483333,86.300000,56.0,6.0,21.285714,16.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2022-09-30,7,U7710,WUY4101,USJ 1,SUNWAY PYRAMID,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
0,2022-09-30,5,T5810,WPX605,PPR Pinggiran Bukit,LRT Alam Sutera,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
0,2022-09-30,4,T2240,WWC4559,LRT Dato Keramat,Desa Pandan,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,16.0,16.0,16.000000,16.0,1.0
0,2022-09-30,7,U7080,WVE5708,Bandar klang,Sunway Lagoon,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,5.0,5.0,5.000000,5.0,1.0
0,2022-09-30,5,T6000,WPX5814,LRT Puchong Jaya,Tmn Wawasan,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.000000,3.0,1.0